keras
keras_tuner
numpy
pandas
scikit-learn
scipy
tensorflow
matplotlib

tqdm

# Install Accelerators based on platform
tensorflow[and-cuda]; sys_platform != 'darwin'
tensorflow-metal; sys_platform == 'darwin'